<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/detail.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
</head>
<style>

</style>

<body>
    <a href="/bookShelf">책장으로 이동</a>
    <p>북 디테일</p>
    <div class="bookshelf">
        <div class="bookCard" id="bookResult">
        </div>
    </div>
</body>
<script>
    const urlParams = new URLSearchParams(window.location.search);

    const resultBox = document.getElementById('bookResult');
    const html = `
        <div class="bookImage" id="bookCover">
                <img src="${urlParams.get('cover')}" id="bookCoverImg">
            </div>
            <div class="bookTilte" id="title">
                <p>지은이 ${urlParams.get('title')}</p>
            </div>
            <div class="bookISBN13" id="isbn">
                <p>ISBN ${urlParams.get('isbn')}</p>
            </div>
            <div class="bookAuthor" id="author">
                <p>지은이 ${urlParams.get('author')}</p>
            </div>
            <div class="bookPub" id="publisher">
                <p>출판사 ${urlParams.get('publisher')}</p>
            </div>
            <div class="bookDes" id="description">
                <p>책 설명 ${urlParams.get('description')}</p>
            </div>
    `
    resultBox.insertAdjacentHTML('beforeend', html);

    //스타일시트가 왜 적용이 안돼지.. html이 나중에 들어와서 그런거같은데
    //스타일시트를 페이지 로딩 후에 적용시킬 방법을 찾아야함
    //뭘 해야하지 일단 CSS 완성
    //댓글기능까지
    //또뭐해야함
    //또...
    //아 뭐가이렇게힘들어 시발~
    //전자책 연동 되는지 찾아보고(존나어려움 하지말아야지)
    //안되겠으면빠른포기
    //로고
    //몇명이 완독했어요 비주얼라이즈 

</script>

</html>