<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="bookshelf">
        <div class="bookCard">
            <div class="bookImage" onclick="bookDescription()">
                <img src="https://image.yes24.com/goods/82935976/XL">
            </div>
            <div class="bookTilte" onclick="bookDescription()" id="title">
                <p>해리포터</p>
            </div>
            <div class="bookAuthor" onclick="bookDescription()" id="author">
                <p>J.K.롤링</p>
            </div>
        </div>
    </div>
</body>
<script>

    function bookDescription() { //axios로 상세페이지에 연결되게 
        const data = {
            title: document.getElementById("title").innerText,
            authorName: document.getElementById("author").innerText
        }
        console.log(data);
        axios({
            method: 'get',
            url: 'bookShelf',
            params: data
        }).then((res) => {
            console.log(res);
            window.location.href = 'bookMain/bookContent/<%=data.title%>'
        }).catch((err) => {
            console.log(err);
        })
    }
</script>

</html>