<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- axios cdn -->
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>책 상세페이지</title>
</head>

<body>
    <a href="/bookShelf">책장으로 이동</a>
    <p>북 콘텐츠</p>
</body>
<script>
    const urlParams = new URLSearchParams(window.location.search);
    const title = urlParams.get('title');
    document.addEventListener("DOMContentLoaded", () =>{
        axios({
            method: 'get',
            url: `bookContent/${title}`
        }).then((res) => {
            console.log('res data ', res.data);
            // { id: 1, name: '홍길동', comment: '내가 왔다.' }
            const bookTitle = res.data.title;
            const page = `<h1>
        <%= bookTitle %> 을 클릭하셨습니다
    </h1>`
            document.body.innerHTML = page;
        }).catch((err) => {
            console.log(err);
        })
    })
        
</script>

</html>