<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="bookshelf">
        <div class="bookCard">
            <div class="bookImage" onclick="bookDescription()">
                <img src="http://image.aladin.co.kr/product/3226/50/coversum/8984317470_3.jpg">
            </div>
            <div class="bookTilte" onclick="bookDescription()" id="title">
                <p>높고 푸른 사다리</p>
            </div>
            <div class="bookAuthor" onclick="bookDescription()" id="author">
                <p>공지영</p>
            </div>
        </div>
    </div>
</body>
<script>

    function bookDescription() { //axios로 상세페이지에 연결되게 
        const data = {
            title: document.getElementById("title").innerText,
            authorName: document.getElementById("author").innerText
        }
        //console.log(data);
        axios({
            method: 'get',
            url: 'bookShelf/test',
            params: data
        }).then((res) => {
            console.log('ejs 레스 ', res.data);
            window.location.href = `bookContent/${res.data.bookInfo.title}`;
        }).catch((err) => {
            console.log(err);
        })
    }
</script>

</html>