.followalert-container{
    width: 390px;
    height: fit-content;
    padding: 20px 24px;
    background-color: #E9FFEE;

    .followalert-title{
        width: 390px;
        height: fit-content;
        font-size: 14px;
        color: #000;
    }
}

.followalert-username{
    font-weight: bold;
}