.commentalert-container{
    width: 390px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 20px 24px;
    background-color: #E9FFEE;

    .commentalert-title{
        font-size: 14px;
        color: #000;
    }
    
    .commentalert-content{
        font-size: 14px;
        color: #888;
    }
}

.commentalert-username{
    font-weight: bold;
}

.bottom-line{
    width: 390px;
    height: 1px;
    background-color: #d7d7d7;
}

