@import './Common.scss';
.correctingpage-container {
    width: $all-width;
    display: flex;
    flex-direction: column;
    height: 800px;
    background-color: #f4f4f4;

    .sentences-container {
        height: fit-content;
    }
}
