.sentence-container{
    width: 390px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-bottom: 1px solid #D7D7D7;
}

.sentence-header{
    width: 390px;
    min-height: 52px;
    display: flex;
    align-items: center;

    .sentence-content{
        width: 300px;
        height: fit-content;
        font-size: 14px;
        margin-left: 24px;
    }
    .correcting{
        width: 24px;
        height: 24px;
        background-image: url('../img/Pen.png');
        margin-right: 24px;
    }
}

.inputcorrecting{
    width: 300px;
    height: fit-content;
    font-size: 14px;
    margin-left: 24px;
    margin-bottom: 8px;
    border: none;
}

.inputcorrecting:focus{
    outline: none;
}
