.beforeafter-container{
    width: 390px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 24px;

    .before-container{
        margin-top: 24px;
        width: 326px;
        height: 100px;

        .before-text{
            width: 54px;
            height: 21px;
            background-image: url('../img/before.png');
        }

        .before-content{
            margin-top: 4px;
            width: 330px;
            height: fit-content;
            border-radius: 8px;
            border: 1px solid lightgrey;
            padding: 8px;
            word-wrap: break-word;
        }
    }

    .after-container{
        width: 326px;
        height: 100px;

        .after-text{
            width: 54px;
            height: 21px;
            background-image: url('../img/after.png');
            background-repeat: no-repeat;
        }

        .after-content{
            margin-top: 4px;
            width: 330px;
            height: fit-content;
            border-radius: 8px;
            border: 1px solid lightgrey;
            padding: 8px;
            word-wrap: break-word;
        }
    }
}

.line{
    width: 390px;
    height: 1px;
    color: lightgrey;
}

