.errorlogheader-container {
    width: 390px;
    height: 53px;
    background-color: white;
    display: flex;
    align-items: center;

    .errorlog-logo {
        width: 97px;
        height: 36px;
        margin-left: 24px;
        background-image: url('../img/ErrorLog.png');
        background-size: auto;
        background-repeat: no-repeat;
        background-position-y: center;
    }
}
