@import './Common.scss';

.footer {
    align-items: center;
    box-shadow: inset 0px 1px 0px rgba(192, 191, 191, 0.5);
    width: $all-width;
    height: 107px;
    top: 737px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    a {
        width: 48px;
        height: 67px;
        align-items: center; // 수직 정렬
        text-align: center;
        font-size: 12px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-decoration-line: none; // a 링크 밑줄 제거
        color: inherit; // a 링크 글자색 없애기

        .footer-div {
            img {
                margin-bottom: 5px;
            }
        }

        .footer-div:hover {
            color: $primary-color;
        }
    }
}
.edge {
    width: $all-width;
    height: 40px;
}
.text-change {
    color: $primary-color;
}
