@import './Common.scss';
.allchatroom-container {
    width: 350px;
    @include flex-center();
    max-height: 214px;
    border: 1px solid #d1d1d1;
    border-radius: 32px;
    padding: 20px;
    margin-bottom: 20px;

    .allheader-container {
        width: 300px;
        height: 50px;
        @include flex();
        flex-direction: column;

        .all-title {
            font-weight: bold;
            font-size: 14px;
            color: #37af6a;
            margin-left: auto;
        }
        .allchatroom-title {
            color: #474747;
            font-weight: bold;
            font-size: 18px;
            word-wrap: break-word;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
    }

    .allfooter-container {
        width: 300px;
        margin-top: 20px;

        .all-participants-container {
            height: 40px;
            @include flex();
            .all-participant-container {
                width: 40px;
                height: 40px;
                position: relative;
                margin-right: -4px;

                .all-participant {
                    > img {
                        width: 40px;
                        height: 40px;
                        background-color: lightgrey;
                        border-radius: 50%;
                        border: 1px solid lightgrey !important;
                    }
                }
                .all-flag {
                    > img {
                        width: 16px;
                        height: 12px;
                        background-color: lightgrey;
                        border: 1px solid lightgrey !important;
                        position: absolute;
                        right: 0px;
                        bottom: 0px;
                    }
                }
            }
            .etc-roomboss-name {
                margin-left: 10px;
                max-width: 115px;
                overflow: hidden;
            }
            .etc-information {
                margin-left: auto;
                @include flex();
                flex-direction: column;
                .all-participant-date {
                    font-size: 14px;
                    margin-left: auto;
                    color: #808080;
                    @include flex-space-between();
                }

                .all-participants {
                    @include flex();
                    color: #808080;
                    font-size: 14px;
                    width: fit-content;
                    margin-left: auto;
                    .participants-users {
                        font-weight: bold;
                    }
                    .participants-nums {
                        margin-left: 3px;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}
