.monochat-header-container {
    width: 390px;
    height: 48px;
    display: flex;
    align-items: center;

    .monochat-logo {
        background-image: url('../img/monochat.png');
        width: 107px;
        height: 20px;
        margin-left: 24px;
    }

    .create-monochat {
        background-image: url('../img/createmonochat.png');
        width: 40px;
        height: 40px;
        margin-left: 195px;
        cursor: pointer;
    }
}
