@import './Common.scss';

.multer-form-container {
    position: relative;
    height: calc(100% - 50px);
    @include flex-center();
    flex-direction: column;
    background-color: rgb(245, 245, 245);

    .profile-image {
        > img {
            width: 168px;
            height: 168px;
            border-radius: 50%;
            border: 1px solid lightgray !important;
        }
    }
    > form {
        .input-file-button {
            margin-top: 10vh;
            padding: 6px 15px;
            background-color: $--btn--color;
            border-radius: 5px;
            color: rgba(0, 0, 0, 0.679);
            font-weight: bold;
            cursor: pointer;
        }
        #input-file {
            display: none;
        }
    }

    .edit-ConfirmBtn {
        @include edit-ConfirmBtn();
    }
}
