@import './Common.scss';

.mypage-container {
    width: $all-width;
    top: 56px;
    height: 693px;

    .clickDiv {
        @include flex-center();
        text-align: center;
        cursor: pointer;

        .profileClick {
            border-bottom: 1px solid lightgray;
            width: 163px;
            height: 32px;
            @include flex-center();
        }
        .postClick {
            @extend .profileClick;
        }

        // 컴포넌트 변경시
        .changed {
            color: $primary-color;
            font-weight: bolder;
            font-size: large;
            border-bottom: 3px solid $primary-color;
        }
    }

    .mypagePostItems-C {
        height: 421px;
        overflow: auto;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}
