@import './Common.scss';

.editPassword-Container {
    height: calc(100% - 50px);
    @include flex-center();

    flex-direction: column;
    text-align: center;
    position: relative;

    .editContainer-title {
        color: black;
        font-size: larger;
        font-weight: bold;
    }
    .editContainer-smalltitle {
        margin-top: 15px;
        color: #808080;
    }
    .editPassword-Form {
        width: calc(100% - 30px);
        > label {
            margin-top: 20px;
            display: block;
            text-align: left;
        }
        > input {
            width: 100%;
            padding: 0px;
            height: 30px;
            border: 2px solid black;
            border-radius: 5px;
            font-size: large;
        }
        .editPasswordErrorMsg {
            margin-top: 25px;
        }
    }
    .edit-ConfirmBtn {
        @include edit-ConfirmBtn();
    }
}
