@import '../styles/Common.scss';

// 각 컨테이너 헤더 부분
@mixin C-Header() {
    @include flex();
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 8px;
}

// 수정 이미지 & text
@mixin modify-C() {
    margin-left: auto;
    @include flex();
    .modifyImg {
        width: 24px;
        height: 24px;
        padding-bottom: 2px;
    }
    .modify-title {
        color: $primary-color;
    }
}

// 언어 결과 div
@mixin lang-result() {
    border: 1px solid green;
    border-radius: 20px;
    width: fit-content;
    height: fit-content;
    padding: 8px;
    margin-right: 12px;
}

.mypageProfile-C {
    padding: 0 16px;
    height: 421px;
    overflow: auto;

    &::-webkit-scrollbar {
        display: none;
    }
    // 자기 소개 부분
    .introduce-C {
        margin-top: 39px;

        .introduce-C-Header {
            @include C-Header();

            .modify-C {
                @include modify-C();
            }
        }

        .textarea-C {
            padding: 12px;
            background-color: #e9ffee;
            @include flex-center();
            box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
            border-radius: 5px;

            .introduce-textarea {
                width: 319px;
                height: 91px;
                background-color: #e9ffee;
                border: none;
                outline: none;
                resize: none;
                overflow: auto;

                &::-webkit-scrollbar {
                    display: none;
                }
            }
        }
    }
    // 모국어 부분
    .nativLang-C {
        margin-top: 39px;

        .nativLang-C-Header {
            @include C-Header();
        }
        .native-result-c {
            @include flex();
            .nativeResultDiv {
                @include lang-result();
            }
        }
    }
    // 학습 언어 부분
    .learnLang-C {
        margin-top: 39px;
        .learnLang-C-Header {
            @include C-Header();

            .modify-C {
                @include modify-C();
                > a {
                    text-decoration-line: none; // a 링크 밑줄 제거
                    color: inherit; // a 링크 글자색 없애기
                }
            }
        }
        .learn-result-c {
            @include flex();
            .learnResultDiv {
                @include lang-result();
            }
        }
    }
    // 위치 부분
    .location-C {
        margin-top: 39px;
        margin-bottom: 20px;
        .location-C-Header {
            @include C-Header();

            .modify-C {
                @include modify-C();
            }
        }
        iframe {
            width: calc(100%);
            height: 350px;
            border: none;
            border-radius: 5%;
        }
    }
}

.header-title {
    color: $sub-color;
}
