@import '../styles/Common.scss';

.newpost-button-container{
    width: 390px;
    height: 90px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 754px;

    button {
        width: 374px;
        height: 48px;
        background-color: #BDBDBD;
        border-radius: 4px;
        color: white;
        font-weight: bold;
        font-size: 16px;
        margin-right: 8px;
        margin-left: 8px;
        padding: 0px;
    }

    button:hover{
        background-color: $primary-color;
    }
}