.newpost-photos-container {
    width: 370px;
    height: fit-content;
    overflow: scroll;
    margin-top: 10px;
    margin-left: 23px;
    margin-right: 23px;
    display: flex;
    flex-flow: wrap;

    .camera {
        width: 104px;
        height: 104px;
        background-image: url('../img/camera.png');
        background-size: cover;
        margin-right: 16px;
        margin-bottom: 16px;
        cursor: pointer;
    }

    .image {
        width: 104px;
        height: 104px;
        border: 1px solid lightgrey;
        margin-right: 16px;
        margin-bottom: 16px;
    }
}

.newpost-photos-container::-webkit-scrollbar {
    display: none;
}

@for $n from 1 through 4 {
    .newpost-photos-container:nth-child(#{3n}) {
        margin-right: 0px;
    }
}
