.newpostpage{
    width: 390px;
    height: 844px;
}

.newpostpage-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}