@import './Common.scss';

.chat-room-container {
    width: $all-width;
    height: 800px;
    display: flex;
    flex-direction: column;

    .chat-room-C-Header {
        @include flex();
        padding: 12px 16px;
        background-color: $--green--100;
        height: 50px;
        .chat-room-name {
            margin-left: 5px;
            font-weight: bolder;
        }
        .chat-room-peopleNum {
            margin-left: 5px;
        }
        .settingLogoutImage {
            margin-left: 5px;
            cursor: pointer;
        }
    }
    .alert-message-div {
        @include flex-center();
        .user-id {
            font-size: 12px;
            color: white;
            width: fit-content;
            padding: 10px;
            margin: 10px 0;
            background-color: #436850;
            border-radius: 20px;
        }
    }
    .chating-content-area {
        flex-grow: 1; /* 남은 공간 채우기 */
        height: calc(
            100% - 94px
        ); /* 전체 높이에서 Header와 입력 칸 높이 빼기. */
        overflow: auto;
        &::-webkit-scrollbar {
            display: none;
        }

        overflow: auto;
        .messages-container {
            margin-bottom: 10px;
            .received-message {
                @include flex();
                max-width: 80%;

                .received-message-header {
                    padding-left: 5px;
                    margin-top: 5px;
                    width: 100%;
                    @include flex();
                    position: relative;

                    .received-message-image {
                        > img {
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            border: 1px solid lightgray !important;
                        }
                    }
                    .received-message-flag {
                        > img {
                            position: absolute;
                            width: 20px;
                            height: 15px;
                            transform: translate(-20px, 10px);
                            border: 1px solid lightgray !important;
                        }
                    }
                    .received-message-username {
                        margin-left: 10px;
                        font-size: large;
                        font-weight: bold;
                    }
                }
                .received-message-middle {
                    display: flex;
                    flex-direction: column;
                    .received-message-content {
                        width: fit-content;
                        cursor: pointer;
                        .received-message-contentarea {
                            background-color: #e3e1d9;
                            color: black;
                            border-radius: 15px;
                            margin: 5px;
                            padding: 10px;
                            max-width: 100%;
                            word-wrap: break-word;
                        }
                    }
                    .received-message-footer {
                        @include flex();
                        margin-left: auto;
                        font-size: small;
                        font-weight: bold;
                        .received-message-time {
                            margin: 0 10px;
                            color: grey;
                        }
                        .received-message-read {
                            margin-right: 10px;
                            width: 20px;
                            height: 20px;
                            color: black;
                            background-color: greenyellow;
                            border-radius: 50%;
                            text-align: center;
                        }
                    }
                }
            }
            .sent-message {
                margin-left: auto;
                @include flex();
                flex-direction: column-reverse;
                align-items: flex-end;
                align-content: flex-end;
                width: 80%;
                .sent-message-content {
                    width: fit-content;
                    .sent-message-contentarea {
                        background-color: white;
                        border: 1px solid lightgrey;
                        border-radius: 15px;
                        margin: 5px;
                        padding: 10px;
                        max-width: 100%;
                        word-wrap: break-word;
                    }
                }
                .sent-message-footer {
                    @include flex();
                    margin-right: auto;
                    font-size: small;
                    font-weight: bold;
                    .sent-message-time {
                        margin: 0 10px;
                        color: grey;
                    }
                    .sent-message-read {
                        width: 20px;
                        height: 20px;
                        color: black;
                        background-color: greenyellow;
                        border-radius: 50%;
                        text-align: center;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
    .message-input-container {
        display: flex;
        align-items: center;
        padding: 10px;
        border-top: 1px solid #ddd;
        .message-input {
            flex: 1;
            padding: 8px;
            margin-right: 8px;
        }
        .send-button {
            background-color: #4caf50;
            color: white;
            border: none;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}

.beforecheck-emoji {
    width: 20px;
    height: 20px;
    background-image: url('../img/X.png');
    margin-left: 8px;
}

.correction-emoji {
    width: 20px;
    height: 20px;
    background-image: url('../img/Check.png');
    margin-left: 8px;
}
