@import './Common.scss';
.persnoalChatList-container {
    @include flex();
    border-bottom: 1px solid lightgrey;
    height: 100px;
    padding: 10px;
    .chat-ImageDiv {
        @include flex();
        height: 100%;
        position: relative;

        .chat-ProfileImage {
            > img {
                width: 70px;
                height: 70px;
                border-radius: 50%;
                border: 1px solid lightgrey !important;
            }
        }
        .chat-FlagImage {
            > img {
                position: absolute;
                width: 25px;
                height: 25px;
                border: 1px solid lightgrey !important;
                transform: translate(-25px, 10px);
            }
        }
    }
    .chat-content {
        @include flex();
        margin-left: 20px;
        height: 100%;
        width: 270px;

        .chat-detail1 {
            width: 100%;
            @include flex();
            .chat-nickname {
                font-size: larger;
                max-width: 118px;
                max-height: 30px;
                overflow: hidden;
            }
            .chat-date {
                margin-left: auto;
                font-size: smaller;
                color: gray;
            }
        }

        .chat-detail2 {
            width: 100%;
            @include flex();
            .chat-lastcontent {
                max-width: 206px;
                max-height: 50px;
                overflow: hidden;
            }
            .chat-notCheck {
                margin-left: auto;
                background-color: rgb(250, 69, 69);
                text-align: center;
                width: 25px;
                height: 25px;
                margin-left: auto;
                border-radius: 50%;
                color: white;
            }
        }
    }
}
.hide {
    display: none;
}
a {
    text-decoration-line: none; // a 링크 밑줄 제거
    color: inherit; // a 링크 글자색 없애기
}
