.postdetail-header-container{
    width: 390px;
    height: 48px;
    display: flex;
    align-items: center;
    background-color: white;
    margin-bottom: 24px;
}

.postdetail-header-text{
    margin-left: 8px;
    font-size: 16px;
    font-weight: bold;
}