.send-comment-container {
    width: 390px;
    min-height: 45px;
    height: fit-content;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;

    .type-comment {
        width: 320px;
        min-height: 32px;
        height: fit-content;
        margin-top: 4px;
        margin-bottom: 4px;
        border-radius: 8px;
        border: 1px solid lightgrey;
    }

    .type-comment:focus {
        outline: none;
    }

    .revise-post {
        margin-left: 8px;
        width: 16px;
        height: 16px;
    }

    .send-comment {
        width: 24px;
        height: 24px;
        background-image: url('../img/Send.png');
        margin-left: 8px;
        cursor: pointer;
    }
}

.entire-comment-container {
    position: relative;
    bottom: 0px;
}
