.comment-container {
    width: 390px;
    min-height: fit-content;
    max-height: none;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 8px 24px;
    border-bottom: 1px solid lightgrey;
}

.comment-image-container {
    width: 40px;
    height: 40px;
    position: relative;
    margin-right: 16px;
}

.comment-profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: lightgrey;
    border: 1px solid lightgrey;
}

.comment-flag-pic {
    width: 16px;
    height: 12px;
    background-color: white;
    border: 1px solid lightgrey;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.comment-inside-container {
    width: 286px;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.comment-header-container {
    width: 286px;
    height: 24px;
    display: flex;
    align-items: center;

    .comment-username {
        color: black;
        text-decoration-line: none;
        font-size: 14px;
        font-weight: bold;
        margin-right: 200px;
        width: 60px;
        height: fit-content;
        font-family: "Poppins", sans-serif;
    }

    .comment-more {
        width: 15px;
        height: 15px;
        background-image: url('../img/more.png');
        cursor: pointer;
    }
}

.comment-content {
    min-width: 286px;
    max-width: 286px;
    height: auto;
    font-size: 14px;
    overflow: hidden;
    word-wrap: break-word;
    font-family: "Poppins", sans-serif;
}

.comment-footer-container {
    width: 286px;
    height: 28px;
    display: flex;
    align-items: center;

    .comment-date {
        font-size: 12px;
    }
}

.modal-container {
    position: absolute;
    right: 0px;
    background-color: white;
    padding: 4px 8px;
    font-size: 14px;
    border: 1px solid lightgrey;
    border-radius: 8px;
    z-index: 1000;
    font-family: "Poppins", sans-serif;

    .edit-text:hover {
        span {
            background-color: #e9ffee;
            cursor: pointer;
            font-family: "Poppins", sans-serif;
        }
    }

    .modal-line {
        width: 58px;
        height: 1px;
        background-color: lightgrey;
    }

    .delete-text:hover {
        span {
            background-color: #e9ffee;
            cursor: pointer;
            font-family: "Poppins", sans-serif;
        }
    }
}

.opacity {
    display: none;
}

.modal-parent {
    position: relative;
}

.beforecheck-emoji{
    width: 20px;
    height: 20px;
    background-image: url('../img/X.png');
    margin-left: 8px;
}

.correction-emoji{
    width: 20px;
    height: 20px;
    background-image: url('../img/Check.png');
    margin-left: 8px;
}

.before-comment-content{
    display: flex;
    margin-left: 8px;
}

.after-comment-content{
    display: flex;
    margin-left: 8px;
}