.postdetailpage {
    width: 390px;
    height: 844px;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.postdetailpage-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.languagecomment-container {
    width: 390px;
    max-height: 520px;
    overflow: auto;
}

.languagecomment-container::-webkit-scrollbar {
    display: none;
}

.culturecomment-container {
    width: 390px;
    max-height: 520px;
    overflow: auto;
}

.culturecomment-container::-webkit-scrollbar {
    display: none;
}

.culturepost-detail-container {
    overflow: scroll;
}

.culturepost-detail-container::-webkit-scrollbar {
    display: none;
}

.languagepost-detail-container {
    overflow: scroll;
}

.languagepost-detail-container::-webkit-scrollbar {
    display: none;
}
