@import './Common.scss';
@import './MypageHeader.scss';
@import './Mypage.scss';

.mypageHeaderC {
    .searchUserHeader {
        @include flex();
        height: 24px;
        padding-top: 10px;
        margin-left: 10px;
    }

    .personal-container {
        @include flex-center();
        margin: 10px 0px;
        > button {
            border-radius: 5px;
            width: 85px;
        }
        .profile-followBtn {
            background-color: #525ceb;
            color: white;
        }
        .profile-unfollowBtn {
            background-color: #eb5252;
            color: white;
        }
        .profile-messageBtn {
            background-color: #f6f7c4a0;
            margin-left: 10px;
        }
    }
}
