<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/login" method="post" name="valiForm" onsubmit="return checkForm(this)" target="_blank">
        <label for="Name">이름</label>
        <input type="text" name="yourName" id="Name" placeholder="홍길동">

        <br>

        <label for="gender">성별</label>

        <br>

        <input type="radio" id="female" name="gender" value="female">여성
        <input type="radio" id="male" name="gender" value="male">남성
        <input type="radio" id="noneBinary" name="gender" value="noneBinary">기타

        <br>

        <label for="bDay">생년월일</label>
        <input type="date" id="bDay" name="bDay" max="2023-11-24" min="1900-00-00" value="2023-11-24">

        <br>

        <label for="like">관심사</label>
        <input type="checkbox" name="like" id="travle" value="travle">여행
        <input type="checkbox" name="like" id="fashion" value="fashion">패션
        <input type="checkbox" name="like" id="food" value="food">음식

        <br>

        <label for="color">선택</label>
        좋아하는 색 <input type="color" name="color" id="color">

        <br>

        <label for="phone">전화번호:</label>

        <input type="tel" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}"/>

        <br>

        <button>회원가입</button>

    </form>
    <script>
        /*function checkForm() {
            const form= document.forms['valiForm']
            console.log(form);
        }*/
        function checkForm(form) {
            console.log(form);
            if (form.yourName.value == '' || form.gender.value == undefined) {
                //form.id.focus();
                alert('성별과 이름은 필수');
                return false;
            }
        }
    </script>
</body>

</html>